# Car Price Scrapping

Price of used cars have been scrapped from the website https://www.cars24.com/. All the metro cities have been included in this process. The files have been both saved in .csv and.xlsx formats.

In [ ]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
import warnings                                            
warnings.filterwarnings('ignore')

from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,WebDriverException
from selenium.common.exceptions import SessionNotCreatedException

In [ ]:
import nltk
nltk.download('punkt')
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import regexp_tokenize

In [106]:
url = "https://www.cars24.com/"

In [107]:
# Getting respnse from the given page link
page = requests.get(url)
print(page)
soup = BeautifulSoup(page.content)

<Response [200]>

In [108]:
driver = webdriver.Chrome(r"C:\Users\jyuth\Chrome driver 103\chromedriver.exe")
driver.get(url)
driver.maximize_window()

In [109]:
viewall=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')
viewall.click()

In [49]:
#scrolling cursor down in order to get number of details added on the page
for _ in range(600):
    driver.execute_script("window.scrollBy(0,600)")

In [56]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

#scrapping Distance
Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

#scrapping ownership
owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

#scrapping fuel type
fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

#csrapping Price
Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

#checking length of each scapped element
len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)

(675, 675, 675, 675, 675, 675)

In [57]:
#Making Data frame
df1=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df1

#saving files to .csv and .xlsx formats
Cp1=df1.to_csv('Cp1.csv')
Cp1=df1.to_excel('Cp1.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2014 Mercedes Benz C Class,Automatic,Petrol,"36,806 km",1st Owner,"₹21,33,299"
1,2019 Hyundai Verna,Manual,Petrol,"80,631 km",1st Owner,"₹9,81,699"
2,2009 Maruti Wagon R,Manual,Petrol,"57,473 km",1st Owner,"₹1,56,599"
3,2009 Hyundai i10,Manual,Petrol,"61,520 km",1st Owner,"₹1,77,299"
4,2020 KIA SELTOS,Automatic,Petrol,"7,568 km",1st Owner,"₹17,41,799"
...,...,...,...,...,...,...
670,2015 Hyundai i20 Active,Manual,Diesel,"83,338 km",1st Owner,"₹4,97,699"
671,2015 Toyota Innova,Manual,Diesel,"74,369 km",3rd Owner,"₹7,93,799"
672,2014 Toyota Innova,Manual,Diesel,"1,19,551 km",2nd Owner,"₹6,71,999"
673,2015 Honda Amaze,Manual,Petrol,"45,356 km",1st Owner,"₹4,22,499"
674,2018 Mahindra Thar,Manual,Diesel,"19,526 km",1st Owner,"₹8,72,499"

## Noida

In [ ]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

In [ ]:
#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[2]/a")
Sc.click()

In [ ]:
#Click on View all
Va=driver.find_element_by_xpath("//button[@class='btn _3BmFU AgO6q']")
Va.click()

In [ ]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [41]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

#scrapping Distance
Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

#scrapping ownership
owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

#scrapping fuel type
fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

#csrapping Price
Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

#checking length of each scrapped element
len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)

df2=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df2

Cp2=df2.to_csv('Cp2.csv')
Cp2=df2.to_excel('Cp2.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2014 Honda Amaze,Automatic,Petrol,"29,982 km",1st Owner,"₹4,44,599"
1,2014 Honda Amaze,Manual,Petrol,"28,172 km",1st Owner,"₹4,11,899"
2,2019 Hyundai Elite i20,Manual,Petrol,"22,638 km",2nd Owner,"₹6,17,899"
3,2014 Hyundai i10,Manual,Petrol,"41,044 km",2nd Owner,"₹3,44,599"
4,2013 Audi A4,Automatic,Diesel,"29,991 km",1st Owner,"₹11,71,099"
...,...,...,...,...,...,...
670,2015 Hyundai i20 Active,Manual,Diesel,"83,338 km",1st Owner,"₹4,97,699"
671,2014 Toyota Innova,Manual,Diesel,"1,19,551 km",2nd Owner,"₹6,71,999"
672,2015 Toyota Innova,Manual,Diesel,"74,369 km",3rd Owner,"₹7,93,799"
673,2015 Honda Amaze,Manual,Petrol,"45,356 km",1st Owner,"₹4,22,499"
674,2018 Mahindra Thar,Manual,Diesel,"19,526 km",1st Owner,"₹8,72,499"

## Gurgaon

In [42]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

In [43]:
#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[3]/a")
Sc.click()

In [110]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [112]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)

df3=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df3

Cp3=df3.to_csv('Cp3.csv')
Cp3=df3.to_excel('Cp3.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2018 Jeep Compass,Manual,Diesel,"47,385 km",1st Owner,"₹12,99,499"
1,2019 Jeep Compass,Automatic,Petrol,"23,128 km",1st Owner,"₹20,12,799"
2,2019 Jeep Compass,Manual,Diesel,"46,400 km",1st Owner,"₹18,88,299"
3,2018 Jeep Compass,Manual,Diesel,"55,376 km",1st Owner,"₹13,18,099"
4,2017 BMW X1,Automatic,Diesel,"50,019 km",1st Owner,"₹17,76,999"
...,...,...,...,...,...,...
668,2021 Datsun Redi Go,Manual,Petrol,"7,181 km",1st Owner,"₹4,66,099"
669,2015 Honda Amaze,Manual,Petrol,"45,356 km",1st Owner,"₹4,22,499"
670,2015 Volkswagen Vento,Manual,Petrol,"68,219 km",1st Owner,"₹4,25,799"
671,2011 Hyundai Verna,Manual,Petrol,"44,057 km",2nd Owner,"₹4,03,999"
672,2018 Mahindra Thar,Manual,Diesel,"19,526 km",1st Owner,"₹8,72,499"

## Mumbai

In [59]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

In [60]:
#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[4]/a")
Sc.click()

In [61]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [62]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)

df4=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df4

Cp4=df4.to_csv('Cp4.csv')
Cp4=df4.to_excel('Cp4.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2011 Hyundai i10,Manual,Petrol,1 km,1st Owner,"₹2,62,999"
1,2016 Maruti Baleno,Manual,Petrol,"58,181 km",2nd Owner,"₹4,96,399"
2,2014 Hyundai i10,Manual,Petrol,"32,627 km",1st Owner,"₹3,39,199"
3,2014 Hyundai i20,Manual,Petrol,"9,249 km",2nd Owner,"₹4,11,599"
4,2016 Hyundai Grand i10,Manual,Petrol,"23,846 km",3rd Owner,"₹3,93,899"
...,...,...,...,...,...,...
559,2014 Honda City,Manual,Diesel,"91,203 km",2nd Owner,"₹5,42,529"
560,2017 Maruti Dzire,Manual,Diesel,"1,61,435 km",1st Owner,"₹6,54,299"
561,2013 Maruti Swift Dzire,Manual,Diesel,"1,61,934 km",1st Owner,"₹4,43,099"
562,2018 Mahindra TUV300,Manual,Diesel,"47,726 km",1st Owner,"₹7,81,899"
563,2018 Maruti Wagon R 1.0,Manual,Petrol + CNG,"21,912 km",1st Owner,"₹4,83,499"

## Pune

In [65]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[5]/a")
Sc.click()

In [66]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [67]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)

df5=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df5

Cp5=df5.to_csv('Cp5.csv')
Cp5=df5.to_excel('Cp5.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2012 Maruti Wagon R 1.0,Manual,Petrol,"16,060 km",1st Owner,"₹2,59,299"
1,2020 KIA SELTOS,Manual,Petrol,"19,355 km",1st Owner,"₹12,78,599"
2,2021 Nissan MAGNITE,,Petrol,"16,049 km",1st Owner,"₹9,63,799"
3,2021 Tata TIGOR,Manual,Petrol,"5,894 km",1st Owner,"₹6,69,199"
4,2021 Toyota URBAN CRUISER,,Petrol,"1,961 km",1st Owner,"₹10,98,599"
...,...,...,...,...,...,...
437,2018 Maruti Wagon R 1.0,Manual,Petrol + CNG,"55,622 km",1st Owner,"₹5,09,299"
438,2020 Tata NEXON,Manual,Petrol,"43,163 km",1st Owner,"₹8,96,119"
439,2017 Maruti Vitara Brezza,Manual,Diesel,"48,518 km",1st Owner,"₹7,38,199"
440,2016 Maruti S Cross,Manual,Diesel,"76,022 km",1st Owner,"₹5,87,499"
441,2017 Hyundai Grand i10,Automatic,Petrol,"25,550 km",1st Owner,"₹6,06,599"

## Bengaluru

In [74]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

time.sleep(3)

#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[6]/a")
Sc.click()

In [75]:
viewall=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')
viewall.click()

In [76]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [77]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)

df6=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df6

Cp6=df6.to_csv('Cp6.csv')
Cp6=df6.to_excel('Cp6.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2009 Maruti Wagon R,Manual,Petrol,"47,292 km",2nd Owner,"₹2,44,999"
1,2021 KIA SELTOS,Manual,Petrol,"4,257 km",1st Owner,"₹18,42,799"
2,2011 Maruti Alto,Manual,Petrol,"57,400 km",1st Owner,"₹2,07,199"
3,2010 Maruti Alto K10,Manual,Petrol,"16,710 km",1st Owner,"₹2,83,099"
4,2021 Nissan MAGNITE,,Petrol,"5,523 km",1st Owner,"₹9,93,099"
...,...,...,...,...,...,...
373,2016 Hyundai Elite i20,Manual,Petrol,"70,056 km",1st Owner,"₹5,99,799"
374,2018 Renault Kwid,Automatic,Petrol,"50,871 km",1st Owner,"₹4,51,299"
375,2017 Renault Kwid,Automatic,Petrol,"32,070 km",1st Owner,"₹4,77,999"
376,2016 Hyundai Grand i10,Manual,Petrol,"39,493 km",1st Owner,"₹5,05,999"
377,2018 Toyota YARIS,Automatic,Petrol,"59,673 km",1st Owner,"₹8,46,899"

## Hyderabad

In [82]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

time.sleep(3)

#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[7]/a")
Sc.click()

In [86]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [88]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)


df7=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df7

Cp7=df7.to_csv('Cp7.csv')
Cp7=df7.to_excel('Cp7.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2010 Hyundai i10,Manual,Petrol,"15,257 km",2nd Owner,"₹3,09,599"
1,2009 Maruti Zen Estilo,Manual,Petrol,"18,306 km",1st Owner,"₹2,25,999"
2,2010 Honda City,Manual,Petrol,"18,456 km",1st Owner,"₹4,94,999"
3,2009 Hyundai i10,Manual,Petrol,"82,752 km",1st Owner,"₹2,84,199"
4,2012 Maruti Swift Dzire,Manual,Diesel,"1,30,229 km",2nd Owner,"₹4,49,099"
...,...,...,...,...,...,...
255,2020 Hyundai GRAND I10 NIOS,Manual,Petrol,"39,813 km",1st Owner,"₹6,80,799"
256,2020 Hyundai Elite i20,Automatic,Petrol,"16,952 km",2nd Owner,"₹7,74,199"
257,2018 Hyundai Xcent,Manual,Diesel,"46,923 km",2nd Owner,"₹7,38,299"
258,2019 Maruti S Cross,Manual,Diesel,"97,706 km",1st Owner,"₹8,80,099"
259,2017 Hyundai Grand i10,Manual,Petrol,"59,124 km",2nd Owner,"₹5,55,899"

## Chennai

In [89]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

time.sleep(3)

#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[8]/a")
Sc.click()

In [90]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [91]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)


df8=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df8

Cp8=df8.to_csv('Cp8.csv')
Cp8=df8.to_excel('Cp8.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2017 Maruti Swift,Manual,Petrol,"60,612 km",1st Owner,"₹5,11,799"
1,2014 Maruti Ritz,Manual,Petrol,"28,929 km",1st Owner,"₹4,23,799"
2,2015 Maruti Alto 800,Manual,Petrol,"22,851 km",3rd Owner,"₹2,53,599"
3,2019 Maruti Swift,Automatic,Petrol,"61,052 km",1st Owner,"₹6,01,799"
4,2011 Volkswagen Vento,Automatic,Petrol,"1,04,194 km",2nd Owner,"₹4,02,499"
...,...,...,...,...,...,...
539,2014 Ford Ecosport,Manual,Diesel,"1,51,683 km",1st Owner,"₹4,63,499"
540,2016 Maruti Swift,Manual,Petrol,"62,827 km",1st Owner,"₹4,91,599"
541,2013 Hyundai Grand i10,Manual,Diesel,"69,608 km",2nd Owner,"₹3,61,999"
542,2013 Maruti Swift Dzire,Manual,Diesel,"1,20,225 km",1st Owner,"₹4,45,299"
543,2016 Datsun Redi Go,Manual,Petrol,"24,291 km",1st Owner,"₹2,73,349"

## Kolkata

In [95]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

time.sleep(3)

#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[9]/a")
Sc.click()

In [96]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [97]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)


df9=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df9

Cp9=df9.to_csv('Cp9.csv')
Cp9=df9.to_excel('Cp9.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2018 Maruti Swift,Manual,Petrol,"3,859 km",1st Owner,"₹5,37,899"
1,2015 Maruti Alto 800,Manual,Petrol,"5,210 km",1st Owner,"₹2,86,299"
2,2021 Hyundai VENUE,Manual,Petrol,"10,919 km",1st Owner,"₹7,65,299"
3,2021 Hyundai AURA,Manual,Petrol,912 km,1st Owner,"₹6,76,299"
4,2014 Jaguar XF,Automatic,Diesel,"31,512 km",1st Owner,"₹18,58,599"
...,...,...,...,...,...,...
166,2015 Mahindra Scorpio,Manual,Diesel,"53,877 km",2nd Owner,"₹8,59,999"
167,2016 Maruti Vitara Brezza,Manual,Diesel,"95,285 km",1st Owner,"₹6,30,999"
168,2013 Hyundai i20,Manual,Diesel,"61,199 km",2nd Owner,"₹3,06,599"
169,2015 Ford Ecosport,Manual,Petrol,"34,276 km",1st Owner,"₹5,12,299"
170,2019 Datsun Go Plus,Manual,Petrol,"26,354 km",1st Owner,"₹3,87,799"

## Ahmedabad

In [100]:
#select city
Select=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
Select.click()

time.sleep(3)

#select the Actual city
Sc=driver.find_element_by_xpath("//ul[@class='popularCities _16Bvy']/li[10]/a")
Sc.click()

In [101]:
#scroll down
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,800)")

In [102]:
Model=[]
#scrapping Model
model=driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
for i in model:
    Model.append(i.text)
Model

#scrapping Transmission
Transmission=[]
T=driver.find_elements_by_xpath("//p[@class='cvakB']/span")
for i in T:
    Transmission.append(i.text)
Transmission

Kms=[]
k=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for i in k:
    Kms.append(i.text)
Kms

owner=[]
o=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
for i in o:
    owner.append(i.text)
owner

fuel=[]
f=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for i in f:
    fuel.append(i.text)
fuel

Price=[]
p=driver.find_elements_by_xpath("//div[@class='_7udZZ']/span")
for i in p:
    Price.append(i.text)
Price

len(Model), len(Price), len(Transmission),len(fuel),len(Kms),len(owner)


df10=pd.DataFrame({'Model':Model,'Transmission':Transmission,'Fuel':fuel,'Kms':Kms,'Owner':owner, 'Price':Price})
df10

Cp10=df10.to_csv('Cp10.csv')
Cp10=df10.to_excel('Cp10.xlsx')

,Model,Transmission,Fuel,Kms,Owner,Price
0,2021 Mahindra XUV 3OO,,Petrol,"9,510 km",1st Owner,"₹10,67,499"
1,2020 Maruti Ertiga,Manual,Petrol,"29,438 km",1st Owner,"₹10,39,099"
2,2020 Maruti Ertiga,Manual,Petrol,"21,596 km",2nd Owner,"₹10,39,099"
3,2020 Maruti Celerio,Manual,Petrol,"4,651 km",1st Owner,"₹4,78,599"
4,2020 Maruti Swift,Manual,Petrol,"17,288 km",1st Owner,"₹5,89,699"
...,...,...,...,...,...,...
396,2017 Maruti Alto 800,Manual,Petrol,"66,687 km",1st Owner,"₹2,86,599"
397,2018 Honda WR-V,Manual,Diesel,"40,354 km",2nd Owner,"₹7,08,499"
398,2018 Maruti Alto 800,Manual,Petrol,"56,232 km",1st Owner,"₹2,97,599"
399,2019 Maruti Alto 800,Manual,Petrol,"16,045 km",1st Owner,"₹3,18,999"
400,2014 Hyundai Elite i20,Manual,Petrol,"61,463 km",1st Owner,"₹5,12,699"

In [113]:
driver.close()

## Combining all excel files in one

In [114]:
import os
import pandas as pd
cwd = os.path.abspath('') 
files = os.listdir(cwd)  
df = pd.DataFrame()
for file in files:
    if file.endswith('.xlsx'):
        df = df.append(pd.read_excel(file), ignore_index=True) 
df.head() 
df.to_excel('Car_Price.xlsx')