In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
import warnings                                            
warnings.filterwarnings('ignore')

from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,WebDriverException

### Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [32]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

In [7]:
# Opening the given page
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [24]:
Rank=[] #empty list to store the headers
Name=[]
Artist=[]
UploadDate=[]
Views=[]

rank_tags=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]") #locating web elements for the rank title
for i in rank_tags:
    Rank.append(i.text)
Rank

name_tags=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in name_tags:
    Name.append(i.text)
Name

artist_tags=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist_tags:
    Artist.append(i.text)
Artist

UploadDatetags=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in UploadDatetags:
    UploadDate.append(i.text)
UploadDate

Views_tags=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in Views_tags:
    Views.append(i.text)
Views

df=pd.DataFrame({'Rank':Rank,'Name of video':Name,'Artist':Artist,'Upload Date':UploadDate,'Views':Views})
df

a=df.to_csv("Wiki_youtube_most_viewed_videos")
a

,Rank,Name of video,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.80
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.87
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.37
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.74
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.54
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.44
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.67
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.60
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.58
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.45
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.12
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.95
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.71
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.60
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.59
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.55
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.46
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.38
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.30
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.29
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.29
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.26
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.24
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.22
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.22
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.18
27,28.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.18
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.16
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.09

In [25]:
driver.close()

### Q2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [14]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the homepage of bcci
driver.get('https://www.bcci.tv/')
time.sleep(3)

#accept cookies:
cookies=driver.find_element_by_xpath("//button[@class='cookie__accept btn btn-primary']")
cookies.click()

#clicking the view all button
international_heading=driver.find_element_by_xpath("//a[@class='moreMatchesLink']")
international_heading.click()

#clicking on More fixtures button:
MoreFix=driver.find_element_by_xpath("//div[@class='fixture-tab-inner row ng-scope']")
MoreFix.click()

#click on drop down of All format:
try:
    allformat=driver.find_element_by_xpath("//div[@class='customSelecBox matchFormatDropDown']")
    allformat.click()
except NoSuchElementException:
    print('No Click')
    
#click on ODI
try:
    ODI=driver.find_element_by_xpath("//div[@class='cSBListItems ng-scope']")
    ODI.click()
except ElementNotInteractableException:
    print('Not_Cliked')

#Empty lists:
Series=[]
Place=[]
Date=[]
Time_note=[]

#Scraping Series
for i in driver.find_elements_by_xpath("//h5[@class='fix-text']"):
    Series.append(i.text)
S=Series[::-2]
S

#Scraping Place
for i in driver.find_elements_by_xpath("//div[@class='fixture-card-bottom']"):
            Place.append(i.text)
Place

#Scraping Date
for i in driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']/h5"):
    Date.append(i.text)
Date

#Scraping Time
for i in driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']/h5"):
            Time_note.append(i.text)
Time_note

print(len(S),len(Date),len(Place),len(Time_note))

df1=pd.DataFrame({'Series':S,'Place':Place,'Date':Date,'Time_note':Time_note})
df1

,Series,Place,Date,Time_note
0,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,1st ODI - Pallekele International Cricket Stad...,1 JUL 2022,10:00 AM IST
1,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,2nd ODI - Pallekele International Cricket Stad...,4 JUL 2022,10:00 AM IST
2,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,3rd ODI - Pallekele International Cricket Stad...,7 JUL 2022,10:00 AM IST

In [ ]:
#save to csv
b=df1.to_csv("BcciMatchFixturesODI")
b

In [15]:
driver.close()

### Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [14]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the homepage of guru99
driver.get('https://www.guru99.com/')
time.sleep(3)

In [25]:
#Click on Selenium:
Sel=driver.find_element_by_xpath("//div[@class='wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a']")
Sel.click()

#Click on Selenium Exception Handling tutorial
SelT=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
SelT.click()


#Creating empty lists:
Name=[]
Description=[]

#Scraping Name
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
            Name.append(i.text)
        
#Scraping Description
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
            Description.append(i.text)

df2=pd.DataFrame({'Exception Name':Name,'Description':Description})
df2

#Save to .csv
c=df2.to_csv('SeleniumEH')
c

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [26]:
driver.close()

### Q4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
- A) Rank
- B) State
- C) GSDP(18-19)
- D) GSDP(17-18)
- E) Share(2017)
- F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [15]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the homepage of statistictimes
driver.get('http://statisticstimes.com/')
time.sleep(3)

In [32]:
#Click on Economy tab:
Eco=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
Eco.click()

#click on India from dropdown:
Ind=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
try:
    Ind.click()
except ElementNotInteractableException:
    print('Cant click')

#click on the GDP of Indian States link:
Link=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
Link.click()

#create Empty lists:
Rank=[]
State=[]
GSDP=[]
gsdp=[]
Share=[]
GDP=[]
GSDP1=[]
gsdp1=[]

#Scrapping Rank:
rank_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[1]")
for i in rank_tags:
    Rank.append(i.text)
Rank=Rank[:33]

#Scrapping State:
state_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[2]")
for i in state_tags:
    State.append(i.text)
State=State[:33]

#scrappingGSDP19-20
GSDP_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[3]")
for i in GSDP_tags:
    GSDP.append(i.text)
GSDP=GSDP[:33]

#scrapping gsdp18-19
gsdp_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[4]")
for i in gsdp_tags:
    gsdp.append(i.text)
gsdp=gsdp[:33]

#scrapping Share
share_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[5]")
for i in share_tags:
    Share.append(i.text)
Share=Share[:33]

#scrapping GDP
gdp_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[6]")
for i in gdp_tags:
    GDP.append(i.text)
GDP=GDP[:33]

#scrapping GSDPat 2011-12
GSDP11_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[7]")
for i in GSDP11_tags:
    GSDP1.append(i.text)
GSDP1=GSDP1[:33]

#scrapping gsdp at 2011-12
gsdp11_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[8]")
for i in gsdp11_tags:
    gsdp1.append(i.text)
gsdp1=gsdp1[:33]

print(len(Rank),len(State),len(GSDP),len(gsdp),len(Share),len(GDP),len(GSDP1),len(gsdp1))

df4=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(CrINR,at current prices)19-20':GSDP,'GSDP(Cr,INR at current prices)18-19':gsdp,
'Share':Share,'GDP($billion)':GDP,'GSDP(CrINR at 2011-12 prices)19-20':GSDP1,'GSDP(CrINR at 2011-12 prices)18-19':gsdp1})
df4

#save to.csv
d=df4.to_csv('IndianStateGDP')

,Rank,State,"GSDP(CrINR,at current prices)19-20","GSDP(Cr,INR at current prices)18-19",Share,GDP($billion),GSDP(CrINR at 2011-12 prices)19-20,GSDP(CrINR at 2011-12 prices)18-19
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

In [33]:
driver.close()

### Q5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the homepage of github
driver.get('https://github.com/')
time.sleep(3)

In [3]:
#Click on explore element:
element=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]')
element.click()

#Select trending:
trending=driver.find_element_by_xpath('//a[@class="lh-condensed-ultra d-block no-underline position-relative Link--secondary py-2"]')
try:
    trending.click()
except ElementNotInteractableException:
    print('trending not clicked')

trending not clicked

In [10]:
#Empty lists:
RT=[]      #Repository title
RD=[]      #Repository description
CC=[]      #Contributors count
L=[]       #Language used

#for Repository title
rt_tags=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
for i in rt_tags:
    RT.append(i.text)
RT=RT[:22]

#for Repository Description:
rd_tags=driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in rd_tags:
    RD.append(i.text)
RD=RD[:22]

#for Contributors count:
cc_tags=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]')
for i in cc_tags:
    CC.append(i.text)
CC=CC[::2]
cc=CC[:22]

#for language used:
l_tags=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')
for i in l_tags:
    L.append(i.text)
L=L[:22]

print(len(RT),len(RD),len(cc),len(L))

df5=pd.DataFrame({'Repository title':RT,'Repository description':RD,'Contributors count':cc,'Language used':L})
df5

#saving to .csv
e=df5.to_csv('githubrepo')
e

,Repository title,Repository description,Contributors count,Language used
0,jfecher / ante,"A safe, easy systems language","1,141",Rust
1,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,"12,095",TypeScript
2,ToolJet / ToolJet,Extensible low-code framework for building bus...,"11,122",JavaScript
3,v2fly / v2ray-core,A platform for building proxies to bypass netw...,"16,754",Go
4,foundry-rs / foundry,"Foundry is a blazing fast, portable and modula...","3,406",Rust
5,fyne-io / fyne,Cross platform GUI in Go inspired by Material ...,"17,367",Go
6,bitcoin / bitcoin,Bitcoin Core integration/staging tree,"64,796",C++
7,tauri-apps / tauri,"Build smaller, faster, and more secure desktop...","43,816",Rust
8,elebumm / RedditVideoMakerBot,Create Reddit Videos with just✨ one command ✨,"2,524",Python
9,free-audio / clap,Audio Plugin API,786,C
10,girliemac / a-picture-is-worth-a-1000-words,I am trying to describe complex matters in sim...,"2,578",Common Lisp
11,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"145,464",C
12,open-goal / jak-project,Reviving the language that brought us the Jak ...,"1,426",JavaScript
13,mpv-player / mpv,🎥 Command line video player,"19,053",Python
14,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,"23,301",C++
15,omair2084 / CVE-2022-26937,Windows Network File System Crash PoC,52,C
16,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,"49,751",HTML
17,libsdl-org / SDL,Simple Directmedia Layer,"3,307",Python
18,education / PR-Pao-de-Queijo-Request,The official source code repository for the ca...,38,Rust
19,kovidgoyal / calibre,ReadySet is a lightweight SQL caching engine t...,"12,537",C++
20,readysettech / readyset,A powerful little TUI framework 🏗,680,Go
21,IVProjects / Engineering_Projects,Nick's Roadmap for a .NET Backend Developer wo...,161,Python

In [11]:
driver.close()

### Q6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the homepage of billboard
driver.get('https://billboard.com/')

In [14]:
#click on Charts
chart=driver.find_element_by_xpath('//li[@class="o-nav__list-item lrv-u-align-items-center lrv-u-flex"]')
chart.click()

#click on hot 100
h100=driver.find_element_by_xpath('//li[@class="o-nav__list-item "]')
h100.click()

#empty lists:
sn=[]   #Song name
an=[]   #Artist name
lr=[]     #Last week rank
pr=[]      #Peak rank
weeks=[]   #Weeks on board

sn_tags=driver.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in sn_tags:
    sn.append(i.text)
sn

#artist name:
an_tags=driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in an_tags:
    an.append(i.text)
an

#last week rank:
lr_tags=driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in lr_tags:
    lr.append(i.text)
#removing ''
for i in lr:
    if i=='':
        lr.remove(i)    
lr[::3]
lr=lr[:99]

#present week rank:
pr_tags=driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in pr_tags:
    pr.append(i.text)

#removing ''
for i in pr:
    if i=='':
        pr.remove(i)
pr=pr[:99]

#weeks on board:
weeks_tags=driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in weeks_tags:
    weeks.append(i.text)

#removing ''
for i in weeks:
    if i=='':
        weeks.remove(i)
        
weeks=weeks[:99]

print(len(sn),len(an),len(lr),len(pr),len(weeks))

df6=pd.DataFrame({'Song name':sn,'Artist Name':an,'Last week rank':lr,'Peak rank':pr,'Weeks on board':weeks})
df6

#save to.csv
e=df6.to_csv('billboards')
e

,Song name,Artist Name,Last week rank,Peak rank,Weeks on board
0,First Class,Jack Harlow,2,1,2
1,Wait For U,Future Featuring Drake & Tems,1,2,1
2,Running Up That Hill (A Deal With God),Kate Bush,9,3,9
3,About Damn Time,Lizzo,3,4,3
4,Heat Waves,Glass Animals,1,5,1
...,...,...,...,...,...
94,Neverita,Bad Bunny,6,95,6
95,When I'm Alone,Post Malone,5,96,5
96,7500 OBO,Tim McGraw,-,97,-
97,F.N.F. (Let's Go),Hitkidd & Glorilla,6,98,6
98,Euthanasia,Post Malone,27,99,27

In [15]:
driver.close()

### Q7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
- A) Name
- B) Designation
- C) Company
- D) Skills they hire for
- E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search page type Data science and click on search. All this should be done through code

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the homepage of naukri.com
driver.get('https://naukri.com/')

In [3]:
#click on Jobs
JobTab=driver.find_element_by_xpath('//div[@class="mTxt"]')
JobTab.click()

#New window opens -- 'https://www.naukri.com/browse-jobs'
driver.get('https://www.naukri.com/browse-jobs')

#click on recruiter:
Rec=driver.find_element_by_xpath('//div[@class="mTxt"]')
Rec.click()

#click on browse all recruiter
AllRec=driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
AllRec.click()

#new window opens -"https://www.naukri.com/hr-recruiters-consultants"
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [21]:
#search bar input
Search=driver.find_element_by_xpath('//input[@class="sugInp"]')
Search.send_keys("Data Science")

# clicking the search button
search_button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_button.click()

#Create Empty List:
Name=[]
Designation=[]
Company=[]
Skills=[] #Skills they hire for
Location=[]

#for scrapping name:
n_tags=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in n_tags:
    Name.append(i.text)
Name

#for scrapping designation:
d_tags=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in d_tags:
    Designation.append(i.text)
Designation

#for scrapping Company:
c_tags=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in c_tags:
    Company.append(i.text)
Company

#for scrapping skills:
s_tags=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in s_tags:
    Skills.append(i.text)
Skills

#for scrapping location:
l_tags=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
for i in l_tags:
    Location.append(i.text)
Location

print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

df7=pd.DataFrame({})
df7['Name']=Name[0:48]
df7['Designation']=Designation[0:48]
df7['Company']=Company[0:48]
df7['Skills Required']= Skills[0:48]
df7['Location']=Location[0:48]
df7

#save to .csv:
h=df7.to_csv('NaukriRecruiters')
h

,Name,Designation,Company,Skills Required,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Ghaziabad

In [20]:
driver.close()

### Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the page of guardian.com
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [4]:
#creating empty lists:
Book=[] 
Author=[] 
Volumes_sold=[]
Publisher=[] 
Genre=[]

#For Scrapping books:
book_tags = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_tags:
    Book.append(i.text)
#for scrapping Author:
author_tags = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_tags:
    Author.append(i.text)
#for Scrapping volmmes sold:
vol_tags = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol_tags:
    Volumes_sold.append(i.text)
#for scrapping publishers:
p_tags = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in p_tags:
    Publisher.append(i.text)
#for Scrapping genre:
genre = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)
    
df8=pd.DataFrame({'Book Title':Book,'Author Name':Author,'Volumes Sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df8

#save to.csv
g=df8.to_csv('Top books')
g

,Book Title,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [5]:
driver.close()

### Q9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the page of imdb.com
driver.get('https://www.imdb.com/list/ls095964455/')

In [17]:
#Create Empty lists:
Name=[] 
Year=[]
Genre=[]
Run_time=[] 
Ratings=[]
Votes=[]

#For Scrapping name:
name_tags = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name_tags:
    Name.append(i.text)
Name

#For Scrapping year:
year_tags = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year_tags:
    Year.append(i.text)
Year

#For Scrapping Genre:
genre_tags = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genre_tags:
    Genre.append(i.text)
Genre

#For RunTime:
rt_tags = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in rt_tags:
    Run_time.append(i.text)
Run_time

#For Ratings:
r_tags = driver.find_elements_by_xpath('//span[@class="ipl-rating-star__rating"]')
for i in r_tags:
    Ratings.append(i.text)
    
#removing ''
for i in Ratings:
    if i=='':
        Ratings.remove(i)
R=Ratings[::2]
Rating=R[:100]
Rating

#For votes:
v_tags = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in v_tags:
    Votes.append(i.text)
Votes

print(len(Name),len(Year),len(Genre),len(Run_time),len(Rating),len(Votes))


print(len(Name),len(Year),len(Genre),len(Run_time),len(Rating),len(Votes))

df9=pd.DataFrame({'Name':Name,'Year Span':Year,'Genre':Genre,'Run Time':Run_time,'Ratings':Rating,'Votes':Votes})
df9

#Save to .csv
i=df9.to_csv('IMDB')
i

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,997,906"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.2,"1,044,933"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,7.6,"950,776"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,6.7,"284,159"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"243,945"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,931"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,8.4,"59,638"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.6,"190,832"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.7,"40,365"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,7.5,"229,341"

In [18]:
driver.close()

### Q10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") 

# Opening the page of UCI ML
driver.get('https://archive.ics.uci.edu/')

#click on View All datasets:
DS=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
DS.click()

In [12]:
#creating Empty lists:
DN=[]   #DataSetName
DT=[]   #DataType
Task=[]
AT=[]   #AttributeType
NoI=[]  #numberOfInstances
NoA=[]  #No of attribute
Year=[]

#For Scrapping DataSetName:
dn_tags = driver.find_elements_by_xpath('//td//p[@class="normal"]')
for i in dn_tags:
    DN.append(i.text)
Dn=DN[8::7]
DN=Dn[:622]

#For Scrapping DataSettype:
dt_tags = driver.find_elements_by_xpath('//td//p[@class="normal"]')
for i in dt_tags:
    DT.append(i.text)
Dt=DT[9::7]
DT=Dt[:622]

#For Scrapping Task:
t_tags = driver.find_elements_by_xpath('//td//p[@class="normal"]')
for i in t_tags:
    Task.append(i.text)
task=Task[10::7]
Task=task[:622]

#For Scrapping Attribute type:
at_tags = driver.find_elements_by_xpath('//td//p[@class="normal"]')
for i in at_tags:
    AT.append(i.text)
At=AT[11::7]
AT=At[:622]

#For Scrapping Number of Instances:
Noi_tags = driver.find_elements_by_xpath('//td//p[@class="normal"]')
for i in Noi_tags:
    NoI.append(i.text)
noi=NoI[12::7]
NOI=noi[:622]

#For Scrapping Number of Attributes:
Noa_tags = driver.find_elements_by_xpath('//td//p[@class="normal"]')
for i in Noa_tags:
    NoA.append(i.text)
noa=NoA[13::7]
NOA=noa[:622]

#For Scrapping Year:
y_tags = driver.find_elements_by_xpath('//td//p[@class="normal"]')
for i in y_tags:
    Year.append(i.text)
year=Year[14::7]
Year=year[:622]

print(len(Dn), len(Dt),len(task),len(At),len(noi),len(noa),len(year))

df10=pd.DataFrame({'DataSet Name':DN,'Data Type':DT,'Task':Task,'Attribute Type':AT,'Number of Instances':NOI,
                   'Number of Attributes':NOA,'Year':Year})
df10

#save to .csv
j=df10.to_csv('UCIData')
j

,DataSet Name,Data Type,Task,Attribute Type,Number of Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [13]:
driver.close()

## The End!