In [ ]:
#install Selenium Library
!pip install selenium

#then need webdriver. Go to about chrome. Download drivers from chromedriver.chromium.org. 
#Download whiever version of chrome you have

In [2]:
#import the needed libraries

import selenium
import pandas as pd                                        # to create dataframe
from selenium import webdriver                             #to open automated chrome window
import warnings                                            #to ignore warnings
warnings.filterwarnings('ignore')
import time                                                #stop the search engine for few seconds

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [106]:
#connect to webdriver:
#1. check version of your chrome.
#2. go to the link- https://chromedriver.chromium.org/downloads
#3. Choose the driver same as the chrome version.Download and extract it on your laptop

driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe") #r is used to make it in a raw string

#opening a website on a chrome window
driver.get('https://www.naukri.com/')

#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input") #job search bar
search_field_designation.send_keys("Data Analyst")

#entering location Bangalore in location search bar
search_field_location=driver.find_element_by_class_name("suggestor-input") #job search bar
search_field_location.send_keys("Bangalore")

#This will show the location in the job search bar

In [108]:
#entering location Bangalore in location search bar
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input") #job search bar
search_field_location.send_keys("Bangalore")

#clicking on search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [147]:
#create 4 empty lists which needs to be extracted
job=[]
Location=[]
company=[]
experience=[]

#find job title
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]') #locating web elements for the job title
title_tags

#we have all tags for the job title. We need to extract text from these tag. for that we need to run a loop.
for i in title_tags:            #iterating over web element of title
    title=i.text            #extracting text from each web element
    job.append(title)       #appending each extracted text in the empty list
print(job)                    #printing data  

#Extracting the html tags for the company
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags

#we have all tags for the company. We need to extract text from these tag. for that we need to run a loop.
for i in company_tags:            #iterating over web element of title
    Company=i.text                #extracting text from each web element
    company.append(Company)       #appending each extracted text in the empty list
print(company) 

#Extracting the html tags for the experience
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
exp_tags

#we have all tags for the experience. We need to extract text from these tag. for that we need to run a loop.
for i in exp_tags:            #iterating over web element of title
    exp=i.text                 #extracting text from each web element
    experience.append(exp)      #appending each extracted text in the empty list
print(experience)    

#Extracting the html tags for the location
locat_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locat_tags

#we have all tags for the location. We need to extract text from these tag. for that we need to run a loop.
for i in locat_tags:            #iterating over web element of title
    locat=i.text                #extracting text from each web element
    Location.append(locat)      #appending each extracted text in the empty list
Location

#Check the length
print(len(job),len(company),len(experience),len(Location))

20 20 20 20

In [150]:
#make DF with first 10 data
D=pd.DataFrame({"Job_title":job,"Location":Location,"Company_name":company,"Experience":experience})
D[:10]

,Job_title,Location,Company_name,Experience
0,Business and Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERDOST ENTERPRISE,0-5 Yrs
1,Senior Data Analyst,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Capco,7-12 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Gsn Games India,3-7 Yrs
3,Jr . Data Analyst,Bangalore/Bengaluru,Armorblox,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru(Jayanagar),G S E-COMMERCE PVT LTD,4-7 Yrs
5,Hiring For Data Analyst with SAP ABAP & BW - C...,Bangalore/Bengaluru\n(WFH during Covid),MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs
6,Officer - Category Demand Management ( Data An...,Bangalore/Bengaluru,Myntra,1-4 Yrs
7,Software Technologist II - Data Analyst,Bangalore/Bengaluru,Philips,5-8 Yrs
8,SAS Analyst / data Analyst / Business analyst ...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Leading US MNC into analytics,2-7 Yrs
9,Sr Data Analyst,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",TECHNODYSIS PRIVATE LIMITED,6-10 Yrs

In [151]:
#to close automated chrome window
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [177]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.naukri.com/')

#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input") #job search bar
search_field_designation.send_keys("Data Scientist")

#entering location Bangalore in location search bar
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input") #job search bar
search_field_location.send_keys("Bangalore")

#clicking on search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

#create 4 empty lists which needs to be extracted
job=[]
location=[]
company=[]
experience=[]

#find job title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #locating web elements for the job title
print(title_tags[:10])

#we have all tags for the job title. We need to extract text from these tag. for that we need to run a loop.
for i in title_tags:            #iterating over web element of title
    title=i.text                #extracting text from each web element
    job.append(title)           #appending each extracted text in the empty list
print(job[:10])                 #printing top 10 data    

#Extracting the html tags for the company
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
print(company_tags[:10])

#we have all tags for the company. We need to extract text from these tag. for that we need to run a loop.
for i in company_tags:            #iterating over web element of title
    Company=i.text                #extracting text from each web element
    company.append(Company)       #appending each extracted text in the empty list
print(company[:10])   

#Extracting the html tags for the experience
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
print(exp_tags[:10])

#we have all tags for the experience. We need to extract text from these tag. for that we need to run a loop.
for i in exp_tags:            #iterating over web element of title
    exp=i.text            #extracting text from each web element
    experience.append(exp)       #appending each extracted text in the empty list
print(experience[:10])  

#Extracting the html tags for the location
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
print(loc_tags[:10])

#we have all tags for the location. We need to extract text from these tag. for that we need to run a loop.
for i in loc_tags:            #iterating over web element of title
    loc=i.text                #extracting text from each web element
    location.append(loc)    #appending each extracted text in the empty list
print(location[:10])  

#Check the length
print(len(job),len(location),len(company),len(experience))

#make data frame
df=pd.DataFrame({'Job_title':job,'Location':location,'Company':company,'Experience':experience})
df[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="79fd2e29-821c-4e0e-a506-0abd4de322fe")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="7f9fe0ff-0d99-4215-8a33-e1b5720f0b63")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="b61492ad-404e-4d74-8743-4e3fbfcabada")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="f28ec18b-904b-4e61-bc37-fd17fb707ecb")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="de61ca5e-4267-47c9-81d3-dec79affb430")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="d5307b9b-b9a7-4170-ae3a-f3308d12e2cf")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="3859925d-bd37-4139-87a9-be28535aa751")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="d26bd984-cb54-4f9d-9ef8-797901898cf0")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="a86de608-95a8-4f80-be84-003bcb37e668")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="47af8e83-deb2-49bf-8e43-e67f9979b8d2")>]
['Senior Data Scientist', 'Senior Associate - Data Scientist', 'Data Scientist', 'Staff Data Scientist', 'Job Opening with Wipro For Data Scientist - SAS', 'Data Scientist', 'Senior Data Scientist -Python+ML(5-7 years)', 'Senior Data Scientist', 'Data Scientist', 'Senior Data Scientist (IN4)']
[<selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="5135541c-47e0-4827-9b62-2e46ea94e187")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="1f5848b1-896c-4fd0-8a1a-165368ac6086")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="2b6005d2-921d-475a-b9de-daa8f51b5f58")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="3d8f9b6e-bdef-4935-86a9-59dc4cbf9b46")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="1243452c-d7c9-48d6-9348-e1130084d302")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="61cf54c7-7637-450e-bdec-1397d29ddfc5")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="67a4f0df-051a-4084-b68a-1d7f09f7a2e3")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="3a922917-83b4-4246-8bfe-67288897b43a")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="af68a20a-95b0-4c52-9ff5-bffb4cd8c36b")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="93cd9e18-2059-488d-9b9f-46409f54340b")>]
['Walmart', 'Affine', 'Applied Materials', 'Walmart', 'Wipro', 'CRED', 'Knowledge Foundry Business Solutions Pvt. Ltd.', 'Course5', 'Ashkom Media India Private Limited', 'Walmart']
[<selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="4459ee82-df32-4e44-84b4-8e138b350972")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="15853730-5087-494f-95bc-ce6a68e2a163")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="7cefe1f9-f01c-4d2d-aea5-01b01464fae2")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="a098f87f-37f7-46f1-bc33-585b4f777d2d")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="8d96d614-b04b-4401-803e-bb2c3f87803f")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="f3963e04-de67-4da4-8300-91bd4d0f401f")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="39f9d463-e581-46f4-a022-a38e5132439c")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="acb00c87-35cb-4634-a316-bbea4de595de")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="50fe1b80-84fd-4c25-895c-900faf8942f4")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="cd3748ca-4122-4dc3-895e-b103a18a7d31")>]
['5-10 Yrs', '2-4 Yrs', '7-10 Yrs', '4-8 Yrs', '3-7 Yrs', '1-5 Yrs', '5-7 Yrs', '5-9 Yrs', '3-6 Yrs', '5-9 Yrs']
[<selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="c25fcb19-6c62-480b-96bd-25264fe20992")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="4531186b-46c2-4d4a-a229-f5ea3faa1e7a")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="1892fc74-548e-44d4-83b6-d58328df5f5d")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="978b4008-2f18-4d29-8135-ef3bb068371b")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="0c55b8c4-81a8-48d3-8172-063e2147299f")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="d0a89629-f750-4499-92c2-0bc4541fe6f2")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="e05eed7c-dd0c-4413-8ac9-0cf4f45dc963")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="afee0426-e32f-4a85-9fcd-f475b287c71b")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="18fd78c9-9f20-4a1c-9841-0d5f9317bb38")>, <selenium.webdriver.remote.webelement.WebElement (session="5ea0080d0213af9eb7c63bb508558cdd", element="f083da44-5c32-415f-9399-2d21dcc8886a")>]
['Bangalore/Bengaluru', 'Remote', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru, Mumbai (All Areas)', 'Noida, Bangalore/Bengaluru', 'Bangalore/Bengaluru']
20 20 20 20

,Job_title,Location,Company,Experience
0,Senior Data Scientist,Bangalore/Bengaluru,Walmart,5-10 Yrs
1,Senior Associate - Data Scientist,Remote,Affine,2-4 Yrs
2,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart,4-8 Yrs
4,Job Opening with Wipro For Data Scientist - SAS,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro,3-7 Yrs
5,Data Scientist,Bangalore/Bengaluru,CRED,1-5 Yrs
6,Senior Data Scientist -Python+ML(5-7 years),Bangalore/Bengaluru,Knowledge Foundry Business Solutions Pvt. Ltd.,5-7 Yrs
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",Course5,5-9 Yrs
8,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
9,Senior Data Scientist (IN4),Bangalore/Bengaluru,Walmart,5-9 Yrs

In [178]:
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage naukri.com
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [190]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.naukri.com/')

#finding element for job search bar
search_job=driver.find_element_by_class_name("suggestor-input") #job search bar
search_job.send_keys("Data Scientist")

#clicking on search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

#Selecting location filter
search_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]')
search_filter.click()

#Selecting salary filter
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

#create Empty lists for scraping data
job=[]
location=[] 
company=[]
experience=[]

#find job title:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]') #locating web elements for the job title
print(title_tags[:10])

#we have all tags for the job title. We need to extract text from these tag. for that we need to run a loop.
for i in title_tags:            #iterating over web element of title
    title=i.text                #extracting text from each web element
    job.append(title)           #appending each extracted text in the empty list
print(job[:10])                 #printing top 10 data 

#Extracting the html tags for the location:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
print(loc_tags[:10])

#we have all tags for the location. We need to extract text from these tag. for that we need to run a loop.
for i in loc_tags:            #iterating over web element of title
    loc=i.text                #extracting text from each web element
    location.append(loc)    #appending each extracted text in the empty list
print(location[:10])  
              
#Extracting the html tags for the company:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
print(company_tags[:10])

#we have all tags for the company. We need to extract text from these tag. for that we need to run a loop.
for i in company_tags:            #iterating over web element of title
    Company=i.text                #extracting text from each web element
    company.append(Company)       #appending each extracted text in the empty list
print(company[:10])   

#Extracting the html tags for the experience:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
print(exp_tags[:10])

#we have all tags for the experience. We need to extract text from these tag. for that we need to run a loop.
for i in exp_tags:            #iterating over web element of title
    exp=i.text                #extracting text from each web element
    experience.append(exp)    #appending each extracted text in the empty list
print(experience[:10])

[<selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="28216083-95e9-4131-aab1-3809e3e2fe1f")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="8b6033b2-3235-4393-aa3f-6b05fd84fd13")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="865d7899-13d9-4879-9311-6cc196be92b3")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="66ba607f-db71-4503-89ff-fd9ef6350901")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="3a6a63a4-9504-4b29-a741-ce8334ded388")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="fccaddb5-2030-49a4-8f08-936c7c2bc4be")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="08ab5644-1d3b-4a81-a21a-ea1e616c05d0")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="b64f9022-0352-480a-96bf-c9eeed531394")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="5e61b98a-f7b7-4bde-af6e-2c022a6702f9")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="09c2bc51-e338-46c0-a2aa-f9c5d2abd2f1")>]
['Data Scientist', 'Associate Data Scientist', 'Hiring For Senior Data Scientist-Noida', 'Hiring For Data Analyst and Data Scientist For Gurgaon Location', 'Opening For Data Scientist', 'Data Scientist/ Machine Learning, 2022 Passout Can also apply', 'Data Scientist (freelance)', 'Data Scientist', 'Data Scientist', 'Senior Data Scientist']
[<selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="6053d038-2735-43af-9974-d80daa07803e")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="83e8200c-c6bc-4841-a8f0-6344cecd7401")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="28aee5c0-a1ba-4bb3-b600-fb054d5c5de7")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="e472eb9c-936b-438d-9ad0-db777dfe3971")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="e1843d99-1d5e-4223-896b-d9c09a913ba7")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="ec4f430b-e382-4b2b-b192-f2f78f571f87")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="ddb7d5ea-3fb7-421e-b5bf-58596ea975d7")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="799d7111-1ca4-4710-8e40-8deb1a93d4de")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="e60dc343-5c3f-4482-be95-bdc46daa7746")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="e7e529f3-6f47-4a9b-8fc8-c028e663f069")>]
['Noida, Bangalore/Bengaluru', 'Gurgaon/Gurugram', 'Noida, Greater Noida, Delhi / NCR', 'Noida, Gurgaon/Gurugram, Delhi / NCR', 'Gurgaon/Gurugram', 'Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)', 'New Delhi, Delhi', 'Gurgaon, Bengaluru', 'New Delhi', 'Delhi']
[<selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="4bfc09d2-151e-44a5-a5ab-9d5637628555")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="e5e4973a-363e-47a2-923f-f8faa3afe07f")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="118c4270-ec27-4ed1-b19b-2ee9d8178e80")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="dd340481-6062-4ae7-b92e-0d911247c762")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="29490471-4c14-4395-a261-60b45f4b087b")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="e34b3fc9-a2ca-4fa8-bdbf-2ba4f4ae28b6")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="5e10c6b9-2ca4-4b21-854b-bd7b3bef18ad")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="40ff75d0-2489-4aca-bd1c-2d0ce92fe783")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="13155d38-3fa0-42e3-8f1f-66e0bcf34d66")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="bc642a59-f62e-49de-959c-5e5e73b8186d")>]
['Ashkom Media India Private Limited', 'Optum', 'Lumiq.ai', 'Shadow Placements', 'Care Health Insurance', 'Creative Hands HR Consultancy', '2Coms', 'BlackBuck', 'Boston Consulting Group', 'iNICU']
[<selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="c5f9a7db-cf9e-4190-a1fb-82fae7905415")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="75b2ca50-43cc-4050-b8fa-b742b96bbd03")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="c3ec82b0-f016-4c97-9747-c439ce293292")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="d4c686dc-240d-4a4e-9f90-58ab709a0e17")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="ec89483f-f627-4912-99ea-67c126c1e9bb")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="7d2eef76-403a-47c2-857a-691bdf750b91")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="131f39c0-db55-4d6c-bceb-fe6497e3f62b")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="822c9fb6-95ac-46ee-983a-c8d7bece509a")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="fa23a9e8-2e34-4589-b2f6-a9ad34c367bb")>, <selenium.webdriver.remote.webelement.WebElement (session="21f69935b91195376f671961968edd52", element="1fd596ea-f17b-49b9-bed1-b83af105b34e")>]
['3-6 Yrs', '1-5 Yrs', '2-6 Yrs', '3-7 Yrs', '1-5 Yrs', '0-4 Yrs', '2-7 Yrs', '3-7 Yrs', '2-5 Yrs', '1-5 Yrs']

In [191]:
#Check the length
print(len(job),len(location),len(company),len(experience))

#make data frame
df=pd.DataFrame({'Job_title':job,'Location':location,'Company':company,'Experience':experience})
df[:10]

20 20 20 20

,Job_title,Location,Company,Experience
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
2,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
3,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
4,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
5,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
6,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
7,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
8,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
9,Senior Data Scientist,Delhi,iNICU,1-5 Yrs

In [67]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [51]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.flipkart.com/')

#finding element for sunglasses
search=driver.find_element_by_class_name("_3704LK") #in search bar
search.send_keys("Sunglasses")

#clicking on search button
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [52]:
#find Brand name, 100 data points:
Brand=[]
for i in range(0,3):       #running for the loop with range to run in this loop 3 times
    brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]') #locating web element of title
    for i in brand_tags:    #iterating over each web element of title
        brand=i.text         #fetching text from the tags
        Brand.append(brand)   #appending data(text) in empty list  
     #code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)             #using the time function to pause the search engine for 5 sec
Brand
B=Brand[:100]
print(B)

#Extracting the html 100 tags for the product description:
ProductDes=[] 
for i in range(0,4):                          #running for the loop with range to run in this loop 4 times
    desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')  #locating web element of title
    for i in desc_tags:            #iterating over each web element of title
        desc=i.text                #extracting text from each web element
        ProductDes.append(desc)    #appending each extracted text in the empty list
#code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)             #using the time function to pause the search engine for 5 sec
ProductDes
P=ProductDes[:100]
print(P)
              
#Extracting the html 100 tags for the price:
Price=[] 
for i in range(0,3):                          #running for the loop with range to run in this loop 3 times
    price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')  #locating web element of title
    for i in price_tags:                       #iterating over each web element of title
        price=i.text                #extracting text from each web element
        Price.append(price)    #appending each extracted text in the empty list
    #code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  
Price
Pr=Price[:100]
print(Pr)

#Extracting the html 100 tags for the discount:
Discount=[] 
for i in range(0,3):                          #running for the loop with range to run in this loop 3 times
    discount_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')  #locating web element of title
    for i in discount_tags:                       #iterating over each web element of title
        discount=i.text                #extracting text from each web element
        Discount.append(discount)    #appending each extracted text in the empty list
    #code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  
Discount
D=Discount[:100]
print(D)

#check Length
print(len(B),len(Pr),len(P),len(D))

#Make DataFrame
DF=pd.DataFrame({"Brand":B,"Product Description":P,"Price":Pr,"Discount":D})
DF

['CRYSTAL CART', 'Singco India', 'Fastrack', 'Fastrack', 'Elligator', 'PIRASO', 'Lee Topper', 'CRYSTAL CART', 'PIRASO', 'Fastrack', 'SUNBEE', 'Ray-Ban', 'ROZZETTA CRAFT', 'Fastrack', 'Fastrack', 'Ray-Ban', 'DEIXELS', 'SRPM', 'SHAAH COLLECTIONS', 'Ray-Ban', 'PIRASO', 'PIRASO', 'New Specs', 'Ray-Ban', 'SUNBEE', 'PIRASO', 'Mi', 'Ray-Ban', 'Fastrack', 'Fastrack', 'New Specs', 'Ray-Ban', 'NuVew', 'SRPM', 'ROYAL SON', 'VINCENT CHASE', 'PIRASO', 'Lee Topper', 'ROZZETTA CRAFT', 'Ray-Ban', 'Lee Topper', 'kingsunglasses', 'New Specs', 'ROZZETTA CRAFT', 'PIRASO', 'Fastrack', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'hipe', 'Mi', 'Fastrack', 'BAJERO', 'ROZZETTA CRAFT', 'Fastrack', 'Fastrack', 'ROZZETTA CRAFT', 'Silver Kartz', 'elegante', 'Fastrack', 'Resist', 'ROZZETTA CRAFT', 'hipe', 'SRPM', 'ROYAL SON', 'Fastrack', 'Fastrack', 'kingsunglasses', 'povty', 'Singco India', 'New Specs', 'PHENOMENAL', 'ROYAL SON', 'New Specs', 'AISLIN', 'Mi', 'BAJERO', 'maxa', 'Poloport', 'HIPPON', 'VINCENT CHASE', 'NuVew', 'VINCENT CHASE', 'New Specs', 'BAJERO', 'ROYAL SON', 'ROYAL SON', 'Fastrack', 'CRYSTAL CART', 'Urbanic', 'ROYAL SON', 'AISLIN', 'RESIST EYEWEAR', 'Silver Kartz', 'GANSTA', 'Fastrack', 'ROYAL SON', 'Ray-Ban', 'NuVew', 'SUNBEE', 'VINCENT CHASE']
['Mirrored Oval Sunglasses (62)', 'Gradient Retro Square Sunglasses (35)', 'UV Protection Aviator Sunglasses (55)', 'Gradient Round Sunglasses (52)', 'UV Protection Wayfarer Sunglasses (53)', 'Polarized, UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (56)', 'Polarized, UV Protection Wrap-around Sunglasses (62)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Retro Square Sunglasses (58)', 'Polarized, UV Protection Sports Sunglasses (Free Size)', 'Gradient Retro Square Sunglasses (53)', 'UV Protection Wayfarer Sunglasses', 'UV Protection Round, Oval Sunglasses (52)', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'Mirrored Aviator Sunglasses (58)', 'Polarized Rectangular Sunglasses (62)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Cat-eye Sunglasses (60)', 'UV Protection, Gradient Retro Square Sunglasses (58)', 'Gradient Aviator Sunglasses (58)', 'Mirrored, UV Protection Retro Square Sunglasses (55)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Mirrored Wayfarer Sunglasses (57)', 'Toughened Glass Lens, UV Protection Rectangular Sunglas...', 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)', 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...', 'Polarized Rectangular Sunglasses (60)', 'UV Protection, Gradient Cat-eye Sunglasses (68)', 'UV Protection Sports Sunglasses (73)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection Wrap-around Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Oval Sunglasses (Free Size)', 'UV Protection, Polarized Aviator Sunglasses (60)', 'UV Protection Round Sunglasses (Free Size)', 'Mirrored, UV Protection Retro Square Sunglasses (Free S...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Oval Sunglasses (59)', 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...', 'Mirrored Aviator Sunglasses (55)', 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...', 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...', 'Polarized, UV Protection Sports Sunglasses (68)', 'UV Protection Aviator Sunglasses (60)', 'Others Retro Square Sunglasses (55)', 'Polarized, UV Protection Round Sunglasses (52)', 'Polarized, UV Protection Wrap-around, Rectangular Sungl...', 'Others Rectangular Sunglasses (56)', 'UV Protection, Mirrored Aviator Sunglasses (50)', 'Polarized, Gradient Cat-eye Sunglasses (57)', 'UV Protection Retro Square Sunglasses (50)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Mirrored, Night Vision, Riding Glasses S...', 'UV Protection, Riding Glasses Aviator, Wrap-around Sung...', 'Polarized, UV Protection Sports Sunglasses (68)', 'UV Protection Oval Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Wayfarer Sunglasses (55)', 'by Lenskart UV Protection Rectangular Sunglasses (54)', 'Mirrored, Night Vision Rectangular Sunglasses (Free Siz...', 'Gradient Wayfarer, Wayfarer, Wayfarer Sunglasses (Free ...', 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...', 'UV Protection Rectangular Sunglasses (64)', 'UV Protection, Mirrored, Riding Glasses Sports Sunglass...', 'Mirrored Aviator Sunglasses (Free Size)', 'UV Protection Butterfly, Retro Square Sunglasses (62)', 'by Lenskart UV Protection Round Sunglasses (48)', 'Gradient Wayfarer Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection Round Sunglasses (55)', 'UV Protection Round Sunglasses (47)', 'UV Protection, Gradient Aviator Sunglasses (50)', 'Polarized, UV Protection Over-sized Sunglasses (61)', 'Polarized, UV Protection Wrap-around Sunglasses (62)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (50)', 'UV Protection Wayfarer, Shield Sunglasses (60)', 'UV Protection, Riding Glasses, Mirrored Aviator Sunglas...', 'UV Protection Retro Square Sunglasses (56)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Mirrored Retro Square Sunglasses (53)', 'UV Protection Over-sized Sunglasses (57)', 'Toughened Glass Lens, UV Protection Round Sunglasses (5...', 'Polarized Aviator Sunglasses (53)', 'UV Protection, Mirrored Aviator Sunglasses (58)', 'Polarized Retro Square Sunglasses (51)', 'UV Protection, Polarized, Mirrored Aviator Sunglasses (...', 'UV Protection Wayfarer Sunglasses (55)', 'Toughened Glass Lens, UV Protection Aviator, Wrap-aroun...', 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...', 'UV Protection Round, Shield Sunglasses (50)', 'UV Protection, Gradient Oval Sunglasses (60)', 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...', 'Mirrored, UV Protection Round Sunglasses (53)', 'UV Protection Retro Square Sunglasses (56)', 'Toughened Glass Lens, UV Protection Wayfarer, Retro Squ...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Retro Square, Wayfarer, Spectacle Sungla...']
['₹149', '₹10,431', '₹364', '₹1,214', '₹548', '₹229', '₹7,129', '₹426', '₹99', '₹825', '₹749', '₹255', '₹8,109', '₹803', '₹6,709', '₹998', '₹675', '₹178', '₹645', '₹379', '₹779', '₹99', '₹4,489', '₹1,145', '₹259', '₹339', '₹7,199', '₹1,234', '₹145', '₹675', '₹155', '₹403', '₹498', '₹597', '₹299', '₹498', '₹102', '₹189', '₹990', '₹498', '₹149', '₹10,431', '₹364', '₹1,214', '₹548', '₹229', '₹7,129', '₹426', '₹99', '₹825', '₹749', '₹255', '₹8,109', '₹803', '₹6,709', '₹998', '₹675', '₹178', '₹645', '₹379', '₹779', '₹99', '₹4,489', '₹1,145', '₹259', '₹339', '₹7,199', '₹1,234', '₹145', '₹675', '₹155', '₹403', '₹498', '₹597', '₹299', '₹498', '₹102', '₹189', '₹990', '₹498', '₹149', '₹10,431', '₹364', '₹1,214', '₹548', '₹229', '₹7,129', '₹426', '₹99', '₹825', '₹749', '₹255', '₹8,109', '₹803', '₹6,709', '₹998', '₹675', '₹178', '₹645', '₹379']
['85% off', '10% off', '77% off', '84% off', '63% off', '80% off', '30% off', '78% off', '86% off', '77% off', '71% off', '69% off', '30% off', '73% off', '30% off', '73% off', '74% off', '82% off', '73% off', '86% off', '80% off', '80% off', '28% off', '69% off', '84% off', '83% off', '30% off', '58% off', '85% off', '72% off', '87% off', '72% off', '79% off', '70% off', '70% off', '67% off', '85% off', '85% off', '75% off', '67% off', '85% off', '10% off', '77% off', '84% off', '63% off', '80% off', '30% off', '78% off', '86% off', '77% off', '71% off', '69% off', '30% off', '73% off', '30% off', '73% off', '74% off', '82% off', '73% off', '86% off', '80% off', '80% off', '28% off', '69% off', '84% off', '83% off', '30% off', '58% off', '85% off', '72% off', '87% off', '72% off', '79% off', '70% off', '70% off', '67% off', '85% off', '85% off', '75% off', '67% off', '85% off', '10% off', '77% off', '84% off', '63% off', '80% off', '30% off', '78% off', '86% off', '77% off', '71% off', '69% off', '30% off', '73% off', '30% off', '73% off', '74% off', '82% off', '73% off', '86% off']
100 100 100 100

,Brand,Product Description,Price,Discount
0,CRYSTAL CART,Mirrored Oval Sunglasses (62),₹149,85% off
1,Singco India,Gradient Retro Square Sunglasses (35),"₹10,431",10% off
2,Fastrack,UV Protection Aviator Sunglasses (55),₹364,77% off
3,Fastrack,Gradient Round Sunglasses (52),"₹1,214",84% off
4,Elligator,UV Protection Wayfarer Sunglasses (53),₹548,63% off
...,...,...,...,...
95,ROYAL SON,"Mirrored, UV Protection Round Sunglasses (53)",₹998,73% off
96,Ray-Ban,UV Protection Retro Square Sunglasses (56),₹675,74% off
97,NuVew,"Toughened Glass Lens, UV Protection Wayfarer, ...",₹178,82% off
98,SUNBEE,UV Protection Rectangular Sunglasses (Free Size),₹645,73% off
99,VINCENT CHASE,"UV Protection Retro Square, Wayfarer, Spectacl...",₹379,86% off

In [53]:
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
1. Rating
2. Review summary
3. Full review

In [19]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.')

#find all reviews
all_reviews=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span")
all_reviews.click()

#Extracting Ratings
Ratings=[]
for i in range(0,10):                          #running for the loop with range to run in this loop 10 times
    rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]') #locating web element of title
    for i in rating_tags:         #iterating over each web element of title
        rating=i.text              #fetching text from the tags
        Ratings.append(rating)      #appending data(text) in empty list

#code to click on next button
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
next_button.click()
time.sleep(5)
print(Ratings[:100])

#Extracting the reviews
Reviews=[]
for i in range(0,10):                          #running for the loop with range to run in this loop 10 times
    review_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]') #locating web element of title
    for i in review_tags:    #iterating over each web element of title
        review=i.text         #fetching text from the tags
        Reviews.append(review)   #appending data(text) in empty list

#code to click on next button
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
next_button.click()
time.sleep(5)
print(Reviews[:100])

#For extracting the Review Summary
Summary=[]
for i in range(0,10):                          #running for the loop with range to run in this loop 10 times
    summary_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]') #locating web element of title
    for i in summary_tags:    #iterating over each web element of title
        summary=i.text         #fetching text from the tags
        Summary.append(summary)   #appending data(text) in empty list

#code to click on next button
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
next_button.click()
time.sleep(5)
print(Summary[:100])

#check Length
print(len(Ratings),len(Reviews),len(Summary))

#Make DataFrame
dF=pd.DataFrame({"Ratings":Ratings,"Review Summary":Reviews,"Full Review":Summary})
dF

100 100 100

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [20]:
#to close automated chrome window
driver.close()

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. Discount

In [49]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.flipkart.com/')

#finding element for sneakers in search bar
search_field_designation=driver.find_element_by_class_name("_3704LK") #Sneakers in search bar
search_field_designation.send_keys("Sneakers")

#clicking on search button
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

#create 4 empty lists which needs to be extracted
Brand=[]
ProductD=[]
Price=[]
Discount=[]

#find Brand name, 100 data points:
for i in range(0,3):       #running for the loop with range to run in this loop 3 times
    brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]') #locating web element of title
    for i in brand_tags:    #iterating over each web element of title
        brand=i.text         #fetching text from the tags
        Brand.append(brand)   #appending data(text) in empty list  
#code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)             #using the time function to pause the search engine for 5 sec
Brand
B=Brand[:100]
print(B)

#Extracting the html 100 tags for the product description:
for i in range(0,3):                          #running for the loop with range to run in this loop 3 times
    desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')  #locating web element of title
    for i in desc_tags:            #iterating over each web element of title
        desc=i.text                #extracting text from each web element
        ProductD.append(desc)    #appending each extracted text in the empty list
#code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)             #using the time function to pause the search engine for 5 sec
ProductD
P=ProductD[0:100]
print(P)

#Extracting the html 100 tags for the price:
for i in range(0,3):                          #running for the loop with range to run in this loop 3 times
    price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')  #locating web element of title
    for i in price_tags:                       #iterating over each web element of title
        price=i.text                #extracting text from each web element
        Price.append(price)    #appending each extracted text in the empty list
    #code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  
Price
Pr=Price[:100]
print(Pr)

#Extracting the html 100 tags for the discount:
for i in range(0,3):                          #running for the loop with range to run in this loop 3 times
    discount_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')  #locating web element of title
    for i in discount_tags:                       #iterating over each web element of title
        discount=i.text                #extracting text from each web element
        Discount.append(discount)    #appending each extracted text in the empty list
#code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  
Discount
D=Discount[:100]
print(D)

#check Length
print(len(B),len(Pr),len(P),len(D))

#Make DataFrame
DF=pd.DataFrame({"Brand":B,"Product Description":P,"Price":Pr,"Discount":D})
DF

['54% off', '60% off', '82% off', '66% off', '77% off', '80% off', '52% off', '77% off', '64% off', '75% off', '52% off', '64% off', '52% off', '60% off', '51% off', '76% off', '40% off', '60% off', '50% off', '66% off', '56% off', '66% off', '64% off', '40% off', '50% off', '52% off', '50% off', '46% off', '50% off', '76% off', '73% off', '61% off', '27% off', '76% off', '50% off', '61% off', '62% off', '55% off', '50% off', '60% off', '80% off', '41% off', '76% off', '55% off', '37% off', '50% off', '46% off', '45% off', '50% off', '50% off', '55% off', '40% off', '52% off', '61% off', '31% off', '40% off', '46% off', '72% off', '51% off', '45% off', '50% off', '40% off', '52% off', '10% off', '50% off', '50% off', '50% off', '61% off', '15% off', '52% off', '40% off', '50% off', '47% off', '41% off', '38% off', '62% off', '52% off', '51% off', '40% off', '59% off', '73% off', '70% off', '66% off', '50% off', '50% off', '55% off', '51% off', '40% off', '57% off', '52% off', '44% off', '56% off', '50% off', '67% off', '52% off', '70% off', '40% off', '40% off', '59% off', '54% off']
100 100 100 100

       Brand                                Product Description Price Discount
0    Jumpink  Kwik FIT casual sneaker shoes and partywear sh...  ₹399  54% off
1   KWIK FIT        STYLISH MENS BLACK SNEAKER Sneakers For Men  ₹449  60% off
2   URBANBOX      Modern Trendy Sneakers Shoes Sneakers For Men  ₹178  82% off
3     corsac  Kwik FIT casual sneaker shoes and partywear sh...  ₹499  66% off
4     BRUTON                                   Sneakers For Men  ₹295  77% off
..       ...                                                ...   ...      ...
95     Krors  Stylish & Trending Outdoor Walking Comfortable...  ₹498  70% off
96   Numenzo                Rebound Future Evo Sneakers For Men  ₹599  40% off
97    Chevit                                   Sneakers For Men  ₹499  40% off
98      PUMA                Men White Sneakers Sneakers For Men  ₹539  59% off
99   BIG FOX                                   Sneakers For Men  ₹499  54% off

[100 rows x 4 columns]

In [50]:
driver.close()

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”
Scrap first 100 data - which includes brand, description, price

In [59]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.myntra.com/shoes')

#set price filter
price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

#create 3 empty lists which needs to be extracted
brand=[]
description=[]
price=[]

#find Brand name, 100 data points:
for i in range(0,2):       #running for the loop with range to run in this loop 2 times
    brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]') #locating web element of title
    for i in brand_tags:    #iterating over each web element of title
        b=i.text            #fetching text from the tags
        brand.append(b)      #appending data(text) in empty list  
#code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[2]/a")
    next_button.click()
    time.sleep(5)             #using the time function to pause the search engine for 5 sec
brand
B=brand[:100]
print(B)

#Extracting the html 100 tags for the product description:
for i in range(0,2):                          #running for the loop with range to run in this loop 2 times
    desc_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')  #locating web element of title
    for i in desc_tags:            #iterating over each web element of title
        desc=i.text                #extracting text from each web element
        description.append(desc)    #appending each extracted text in the empty list
#code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[2]/a")
    next_button.click()
    time.sleep(5)             #using the time function to pause the search engine for 5 sec
description
P=description[:100]
print(P)

#Extracting the html 100 tags for the price:
for i in range(0,5):                          #running for the loop with range to run in this loop 5 times
    price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')  #locating web element of title
    for i in price_tags:                       #iterating over each web element of title
        Price=i.text                #extracting text from each web element
        price.append(Price)    #appending each extracted text in the empty list
    #code to click on next button
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[2]/a")
    next_button.click()
    time.sleep(5)  
price
Pr=price[:100]
print(Pr)

#check Length
print(len(B),len(Pr),len(P))

#Make DataFrame
DF=pd.DataFrame({"Brand":B,"Product Description":P,"Price":Pr})
DF

['ALDO', 'ALDO', 'Skechers', 'UNDER ARMOUR', 'Nike', 'Puma', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Skechers', 'ALDO', 'ALDO', 'Hush Puppies', 'Skechers', 'ALDO', 'UNDER ARMOUR', 'ALDO', 'PUMA Motorsport', 'Puma', 'DAVINCHI', 'Nike', 'PUMA Motorsport', 'Puma', 'Puma', 'Hush Puppies', 'UNDER ARMOUR', 'PUMA Motorsport', 'UNDER ARMOUR', 'Puma', 'ADIDAS Originals', 'Reebok', 'PUMA Motorsport', 'UNDER ARMOUR', 'Puma', 'Puma', 'Geox', 'UNDER ARMOUR', 'Puma', 'PUMA Motorsport', 'Tommy Hilfiger', 'PUMA Motorsport', 'Puma', 'Nike', 'Puma', 'ASICS', 'Puma', 'Geox', 'PUMA Motorsport', 'Louis Philippe', 'PUMA Motorsport', 'PUMA Motorsport', 'ALDO', 'ALDO', 'Skechers', 'UNDER ARMOUR', 'Nike', 'Puma', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Skechers', 'ALDO', 'ALDO', 'Hush Puppies', 'Skechers', 'ALDO', 'UNDER ARMOUR', 'ALDO', 'PUMA Motorsport', 'Puma', 'DAVINCHI', 'Nike', 'PUMA Motorsport', 'Puma', 'Puma', 'Hush Puppies', 'UNDER ARMOUR', 'PUMA Motorsport', 'UNDER ARMOUR', 'Puma', 'ADIDAS Originals', 'Reebok', 'PUMA Motorsport', 'UNDER ARMOUR', 'Puma', 'Puma', 'Geox', 'UNDER ARMOUR', 'Puma', 'PUMA Motorsport', 'Tommy Hilfiger', 'PUMA Motorsport', 'Puma', 'Nike', 'Puma', 'ASICS', 'Puma', 'Geox', 'PUMA Motorsport', 'Louis Philippe', 'PUMA Motorsport', 'PUMA Motorsport']
['Men Textured Slip-On Sneakers', 'Men Sneakers', 'Men Max Cushioning Running', 'Men Vantage 2 Running Shoes', 'Women React MR 3 Running Shoes', 'Men Colourblocked RS-Z Core', 'Men UA Charged Breeze Training', 'Men Charged Rouge 3 Run Shoes', 'Men MAX CUSHIONING ELITE-LUCID', 'Men Woven Design Sneakers', 'Men Leather Driving Shoes', 'Men Solid Leather Formal Slip-Ons', 'Men Sky Vault Walking Shoes', 'Men Textured Sneakers', 'Women Breeze Running Shoes', 'Men Leather Loafers', 'Unisex Ferrari IONSpeed', 'Eternity Nitro Running Shoes', 'Men Solid Leather Formal Loafers', 'Men Air Max Dawn Sneakers', 'Unisex Mercedes F1 Sneakers', 'Men Deviate Nitro Shoes', 'Unisex Leather Sneakers', 'Men Formal Derbys', 'Men UA Charged Vantage 2 Run', 'Unisex Mercedes F1 R-Cat', 'Men UA TriBase Reign4 Training', 'Men M Nitro Running Shoess', 'Men Solid Ozweego Sneakers', 'Men Zig Dynamica 2.0 Running', 'Men MAPF1 X-Ray Speed Sneakers', 'Men Charged Breeze Running', 'Men Velocity Nitro Running', 'Men Running Shoes', 'Men Textured Leather Driving Shoes', 'Women Charged Vantage 2 Run', 'Unisex Leather Trainers', 'Men BMW MMS R-Cat Sneakers', 'Men Leather Sneakers', 'Unisex Leather Sneakers', 'Unisex KING Pro 21 Football', 'Men AIR MAX PRE-DAY Sneakers', 'Women Running Sports Shoes', 'Men Running Shoes', 'Men D Nitro WTR Running Shoes', 'Men Textured Leather Driving Shoes', 'Men ZenonSpeed Sneakers', 'Men Solid Leather Formal Loafers', 'Unisex Porsche Legacy Sneakers', 'Ferrari R-Cat Machina Sneakers', 'Men Textured Slip-On Sneakers', 'Men Sneakers', 'Men Max Cushioning Running', 'Men Vantage 2 Running Shoes', 'Women React MR 3 Running Shoes', 'Men Colourblocked RS-Z Core', 'Men UA Charged Breeze Training', 'Men Charged Rouge 3 Run Shoes', 'Men MAX CUSHIONING ELITE-LUCID', 'Men Woven Design Sneakers', 'Men Leather Driving Shoes', 'Men Solid Leather Formal Slip-Ons', 'Men Sky Vault Walking Shoes', 'Men Textured Sneakers', 'Women Breeze Running Shoes', 'Men Leather Loafers', 'Unisex Ferrari IONSpeed', 'Eternity Nitro Running Shoes', 'Men Solid Leather Formal Loafers', 'Men Air Max Dawn Sneakers', 'Unisex Mercedes F1 Sneakers', 'Men Deviate Nitro Shoes', 'Unisex Leather Sneakers', 'Men Formal Derbys', 'Men UA Charged Vantage 2 Run', 'Unisex Mercedes F1 R-Cat', 'Men UA TriBase Reign4 Training', 'Men M Nitro Running Shoess', 'Men Solid Ozweego Sneakers', 'Men Zig Dynamica 2.0 Running', 'Men MAPF1 X-Ray Speed Sneakers', 'Men Charged Breeze Running', 'Men Velocity Nitro Running', 'Men Running Shoes', 'Men Textured Leather Driving Shoes', 'Women Charged Vantage 2 Run', 'Unisex Leather Trainers', 'Men BMW MMS R-Cat Sneakers', 'Men Leather Sneakers', 'Unisex Leather Sneakers', 'Unisex KING Pro 21 Football', 'Men AIR MAX PRE-DAY Sneakers', 'Women Running Sports Shoes', 'Men Running Shoes', 'Men D Nitro WTR Running Shoes', 'Men Textured Leather Driving Shoes', 'Men ZenonSpeed Sneakers', 'Men Solid Leather Formal Loafers', 'Unisex Porsche Legacy Sneakers', 'Ferrari R-Cat Machina Sneakers']
['Rs. 12999', 'Rs. 9999', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 7999', 'Rs. 8920Rs. 10495(15% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 8999', 'Rs. 7999', 'Rs. 7599Rs. 9499(20% OFF)', 'Rs. 13999', 'Rs. 12999', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 10999', 'Rs. 8999', 'Rs. 12999', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 10399Rs. 12999(20% OFF)', 'Rs. 8490', 'Rs. 9295', 'Rs. 7999', 'Rs. 11999Rs. 14999(20% OFF)', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 7999', 'Rs. 7499', 'Rs. 11999', 'Rs. 10399Rs. 12999(20% OFF)', 'Rs. 9349Rs. 10999(15% OFF)', 'Rs. 7999', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 8999', 'Rs. 9599Rs. 11999(20% OFF)', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 10490', 'Rs. 7999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 7499', 'Rs. 7309Rs. 8599(15% OFF)', 'Rs. 7999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 13995', 'Rs. 11999Rs. 14999(20% OFF)', 'Rs. 7999', 'Rs. 12799Rs. 15999(20% OFF)', 'Rs. 10990', 'Rs. 8999', 'Rs. 9999', 'Rs. 7999', 'Rs. 7499', 'Rs. 12999', 'Rs. 9999', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 7999', 'Rs. 8920Rs. 10495(15% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 8999', 'Rs. 7999', 'Rs. 7599Rs. 9499(20% OFF)', 'Rs. 13999', 'Rs. 12999', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 10999', 'Rs. 8999', 'Rs. 12999', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 10399Rs. 12999(20% OFF)', 'Rs. 8490', 'Rs. 9295', 'Rs. 7999', 'Rs. 11999Rs. 14999(20% OFF)', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 7999', 'Rs. 7499', 'Rs. 11999', 'Rs. 10399Rs. 12999(20% OFF)', 'Rs. 9349Rs. 10999(15% OFF)', 'Rs. 7999', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 8999', 'Rs. 9599Rs. 11999(20% OFF)', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 10490', 'Rs. 7999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 7499', 'Rs. 7309Rs. 8599(15% OFF)', 'Rs. 7999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 13995', 'Rs. 11999Rs. 14999(20% OFF)', 'Rs. 7999', 'Rs. 12799Rs. 15999(20% OFF)', 'Rs. 10990', 'Rs. 8999', 'Rs. 9999', 'Rs. 7999', 'Rs. 7499']
100 100 100

,Brand,Product Description,Price
0,ALDO,Men Textured Slip-On Sneakers,Rs. 12999
1,ALDO,Men Sneakers,Rs. 9999
2,Skechers,Men Max Cushioning Running,Rs. 7199Rs. 8999(20% OFF)
3,UNDER ARMOUR,Men Vantage 2 Running Shoes,Rs. 7999
4,Nike,Women React MR 3 Running Shoes,Rs. 8920Rs. 10495(15% OFF)
...,...,...,...
95,Geox,Men Textured Leather Driving Shoes,Rs. 10990
96,PUMA Motorsport,Men ZenonSpeed Sneakers,Rs. 8999
97,Louis Philippe,Men Solid Leather Formal Loafers,Rs. 9999
98,PUMA Motorsport,Unisex Porsche Legacy Sneakers,Rs. 7999
99,PUMA Motorsport,Ferrari R-Cat Machina Sneakers,Rs. 7499

In [63]:
driver.close()

# Q8: Go to webpage https://www.amazon.in/
        Scrape 1. Title, 2. rating 3. price for first 10 laptops

In [83]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.amazon.in/')

#finding element for laptop in search bar
search_field_designation=driver.find_element_by_id("twotabsearchtextbox") #Laptop in search bar
search_field_designation.send_keys("Laptop")

#clicking on search button
search_button=driver.find_element_by_id('nav-search-submit-button')
search_button.click()

#clicking on search box for i7 (i9 was not displayed in the options on the webpage)
search_box=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/span')
search_box.click()

In [88]:
#create 3 empty lists which needs to be extracted
Title=[]
Price=[]
Rating=[]

#find title
title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']") #locating web elements for the laptop

#we have all tags for the job title. We need to extract text from these tag. for that we need to run a loop.
for i in title_tags:            #iterating over web element of title
    title=i.text                #extracting text from each web element
    Title.append(title)         #appending each extracted text in the empty list
T=Title[:10]                    #printing top 10 data 
T                    

#Extracting the html tags for the price
price_tags=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

#we have all tags for the company. We need to extract text from these tag. for that we need to run a loop.
for i in price_tags:            #iterating over web element of title
    price=i.text                #extracting text from each web element
    Price.append(price)         #appending each extracted text in the empty list
P=Price[:10]
P

#Extracting the html tags for the ratings
r_tags=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')

#we have all tags for the experience. We need to extract text from these tag. for that we need to run a loop.
for i in r_tags:                               #iterating over web element of title
    r=i.get_attribute('aria-label')            #extracting text from each web element
    Rating.append(r)                           #appending each extracted text in the empty list
R=Rating[:10]
R 

#Check the length
print(len(T),len(P),len(R))

#make data frame
df=pd.DataFrame({'Title':T,'Price':P,'Rating':R})
df[:10]

10 10 10

,Title,Price,Rating
0,Acer Predator Helios 300 11th Gen Intel Core i...,"1,69,990",5.0 out of 5 stars
1,"MSI Modern 14, Intel i7-1195G7, 14"" FHD IPS-Le...","76,490",4.0 out of 5 stars
2,Mi Notebook Ultra 3.2K Resolution Display Inte...,"77,990",4.3 out of 5 stars
3,Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...,"79,990",4.5 out of 5 stars
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"86,990",4.4 out of 5 stars
5,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...","86,990",4.6 out of 5 stars
6,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...","89,990",4.5 out of 5 stars
7,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...","57,490",4.5 out of 5 stars
8,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,"93,999",4.0 out of 5 stars
9,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,"85,890",4.3 out of 5 stars

In [43]:
driver.close()

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location in https://www.ambitionbox.com/. 
    You have to scrape company name, No. of days ago when job was posted, Rating of the company

In [56]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.ambitionbox.com/')

#selecting the "job" tab
tab_search=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
tab_search.click()

#finding element for data scientist in search bar
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field_designation.send_keys("Data Scientist")

#searching the results using search button
search=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search.click()

#create 3 empty lists which needs to be extracted
CN=[]
NosD=[]
Rating=[]

#find Company name
CN_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']") #locating web elements for the company name

#we have all tags, We need to extract text from these tag. for that we need to run a loop.
for i in CN_tags:            #iterating over web element of title
    C=i.text                 #extracting text from each web element
    CN.append(C)             #appending each extracted text in the empty list
print(CN[:10])               #printing top 10 data        

#Extracting the html tags for the nos of days ago it was posted
D_tags=driver.find_elements_by_xpath('//span[@class="body-small-l"]')

#we have all tags for the nos of days. We need to extract text from these tag. for that we need to run a loop.
for i in D_tags:            #iterating over web element of title
    d=i.text                #extracting text from each web element
    NosD.append(d)          #appending each extracted text in the empty list
ND=NosD[0::2]                #selecting the odd results to get the required data
N=ND[:10]
N

#find Comapnay ratings
R_tags=driver.find_elements_by_xpath('//span[@class="body-small"]') #locating web elements for the rating title

#we have all tags, We need to extract text from these tag. for that we need to run a loop.
for i in R_tags:            #iterating over web element of title
    R=i.text                #extracting text from each web element
    Rating.append(R)        #appending each extracted text in the empty list
print(Rating[:10])          #printing top 10 data        

print(len(CN),len(N),len(Rating)) #checking length of lists

#Make DF
df1=pd.DataFrame({"Company Name": CN,"Job posted":N,"Company Rating":Rating})
df1

                                       Company Name Job posted Company Rating
0                  EXL Services.com ( I ) Pvt. Ltd.     8d ago            3.9
1                     GENPACT India Private Limited    20d ago            4.0
2  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED     6d ago            3.9
3                     GENPACT India Private Limited   1mon ago            4.0
4                         Bristlecone India Limited    15d ago            3.8
5                                             Zyoin    19d ago            4.1
6                Ashkom Media India Private Limited     6d ago            3.7
7                 Newgen Software Technologies Ltd.    21d ago            3.5
8                                 JK Technosoft Ltd    30d ago            3.7
9                        Pitney Bowes India Pvt Ltd   1mon ago            4.2

In [57]:
driver.close()

# Q10: Write a python program to scrape the salary data for Data Scientist designation from https://www.ambitionbox.com/
You have to scrape 1. Company name, 2. Number of salaries, 3. Average salary, 4. Minsalary, 5. Max Salary, 6. Experienec needed

In [6]:
#connect to webdriver:
driver=webdriver.Chrome(r"C:\Users\jyuth\chrome driver\chromedriver_win32\chromedriver.exe")

#opening a website on a chrome window
driver.get('https://www.ambitionbox.com/')

#find element for "Salary" in the tab
tab_find=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
tab_find.click()

#finding element for data scientist in search bar
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_field_designation.send_keys("Data Scientist")

#searching the results from drop down menu
search=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
search.click()

In [34]:
#create 6 empty lists which needs to be extracted
CN=[]
NoS=[]
AvgS=[]
MinS=[]
MaxS=[]
Exp=[]

#find Company name
CN_tags=driver.find_elements_by_xpath('//div[@class="name"]') #locating web elements for company name

#we have all tags, We need to extract text from these tag. for that we need to run a loop.
for i in CN_tags:            #iterating over web element of title
    C=i.text                #extracting text from each web element
    CN.append(C)           #appending each extracted text in the empty list
CN

#find Avg Salary
Av_tags=driver.find_elements_by_xpath('//p[@class="averageCtc"]') #locating web elements
Av_tags                    

#we have all tags, We need to extract text from these tag. for that we need to run a loop.
for i in Av_tags:            #iterating over web element of title
    A=i.text                 #extracting text from each web element
    AvgS.append(A)           #appending each extracted text in the empty list
a=AvgS[:10]                  #selecting first 10 data
a

#find Min Salary
Mi_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]') #locating web elements
Mi_tags                    

#we have all tags, We need to extract text from these tag. for that we need to run a loop.
for i in Mi_tags:            #iterating over web element of title
    m=i.text                 #extracting text from each web element
    MinS.append(m)           #appending each extracted text in the empty list
MinSal=MinS[::2][:10]         #printing top 10 data, with jump of 1 to get needed result and storing in new variable
MinSal

#find Max Salary
Ma_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]') #locating web elements
Ma_tags                    

#we have all tags, We need to extract text from these tag. for that we need to run a loop.
for i in Ma_tags:            #iterating over web element of title
    M=i.text                 #extracting text from each web element
    MaxS.append(M)           #appending each extracted text in the empty list
ma=MaxS[1:20:2]             #select element from 1 to 20 and jump the 2 elements in between
ma

#find Experience
e_tags=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]') #locating web elements
e_tags

#we have all tags, We need to extract text from these tag. for that we need to run a loop.
for i in e_tags:                                  #iterating over web element of title
    E=i.text.replace("Data Scientist\n . \n","")  #extracting text from each web element
    Exp.append(E)                                 #appending each extracted text in the empty list
Exp[:10]                                           #listing first 10 data

print(len(CN),len(a),len(MinSal),len(ma),len(Exp)) #Checking length of the lists

#make DF
df2=pd.DataFrame({"Company Name and salaries":CN,"Experience needed":Exp,"Average Salary":a,"Minimum Salary":MinSal,"Maximun Salary":ma})
df2

,Company Name and salaries,Experience needed,Average Salary,Minimum Salary,Maximun Salary
0,Walmart\nbased on 11 salaries,3 yrs exp,₹ 29.7L,₹ 25.0L,₹ 35.0L
1,Ab Inbev\nbased on 32 salaries,3-4 yrs exp,₹ 20.5L,₹ 15.0L,₹ 25.5L
2,Reliance Jio\nbased on 10 salaries,4 yrs exp,₹ 18.9L,₹ 5.6L,₹ 26.2L
3,ZS\nbased on 15 salaries,2 yrs exp,₹ 15.9L,₹ 9.8L,₹ 20.0L
4,Optum\nbased on 27 salaries,3-4 yrs exp,₹ 15.2L,₹ 11.0L,₹ 22.0L
5,Fractal Analytics\nbased on 81 salaries,2-4 yrs exp,₹ 15.2L,₹ 9.5L,₹ 22.0L
6,Tiger Analytics\nbased on 46 salaries,2-4 yrs exp,₹ 14.8L,₹ 9.0L,₹ 20.0L
7,UnitedHealth\nbased on 53 salaries,2-4 yrs exp,₹ 14.0L,₹ 8.3L,₹ 20.5L
8,Verizon\nbased on 14 salaries,4 yrs exp,₹ 12.7L,₹ 10.0L,₹ 21.0L
9,Ganit Business Solutions\nbased on 13 salaries,4 yrs exp,₹ 12.4L,₹ 8.5L,₹ 15.0L

In [33]:
driver.close()

# END OF THE ASSIGNMENT